.learning-box{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
}

.header-box{
    border: 2px solid black;
    border-bottom: none;
    margin: 0;
}

.second-container{
    display: flex;
    border: 2px solid black;
}

.box-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 200px;
    border-right: 2px solid black;
}

.progress-box{
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid black;
    border-left: none;
    border-top: none;
}

.timer-box{
    flex: auto;
    line-height: 200px;
    font-size: xx-large;
}

.question-box{
    width: 40%;
    height: 80%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question-word{
    font-size: xx-large;
}

.answer-box{
    border: 2px solid black;
    border-top: none;
}

.answer-container{
    display: flex;
    padding: 20px 0 20px 0;
    justify-content: space-evenly;
}

.answer-word{
    height: 80px;
    width: 100px;
    line-height: 80px;
    border: 2px solid black;
}

.skip-button{
    background: none;
    border: none;
    font-size: large;
}