.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.start-button{
    font-size: xx-large;
    background: none;
    border: none;
}